@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

body {
	font-family: "League Spartan", sans-serif;
	background: var(--11, #f8f8fb);
	.dark {
		background-color: #141625;
	}
}
html {
	font-size: 62.5%;
}
.react-datepicker__month-container {
	width: 327px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	padding-bottom: 10px;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: -0.25px;
	@apply dark:bg-[#252945];
	@apply dark:text-white;
	@media screen and (min-width: 768px) {
		width: 240px;
	}
}

.react-datepicker__day-names {
	display: none;
}
.react-datepicker__current-month {
	color: var(--08, #0c0e16);
	text-align: center;
	padding-top: 10px;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: -0.25px;
	@apply dark:bg-[#252945];
	@apply dark:text-white;
}
.react-datepicker__header {
	@apply dark:bg-[#252945];
	border-bottom: none;
	background-color: #fff;
	padding-bottom: 15px;
}
.react-datepicker__month {
	display: flex;
	flex-direction: column;
	gap: 10px;
	@apply dark:text-white;
}
.react-datepicker__week {
	@apply dark:text-[#fff];
	display: flex;
	justify-content: center;
	gap: 20px;
	@media screen and (min-width: 768px) {
		gap: 12px;
	}
}
.react-datepicker__day:hover {
	color: #9277ff;
}
.react-datepicker__navigation-icon {
	top: 8px;
}
.react-datepicker__day {
	@apply dark:text-white;
}
/* .react-datepicker__day--today {
	all: unset;
	background-color: transparent !important;
	color: inherit !important;
	font-weight: normal !important;
	font-size: 30px;
} */

.error input {
	background-color: #ffcccc; /* Change to your desired red color */
}
